{% extends 'base.html' %}
{% load utils %}
{% block title %}
Match
{% endblock title %}
{% block js %}
<script>
    /* global $, ajaxDownload */
    $(function() {
        $('table').tablesorter({
            sortList: [[0,0]],
            headerTemplate: '{content}{icon}',
            cssIcon: 'icon sort',
            cssIconDesc: 'down',
            cssIconAsc: 'up'
        });
        
        function appendMsg(msg, isSuccess) {
            var ele = `
                <div class="ui message ${isSuccess ? 'success' : 'negative'}">
                    ${msg}
                </div>
            `;
            $('#msg').append(ele);
            $('#msg div:last-child').fadeOut(2000, function() {
                $(this).remove();
            });
        }
        
        function appendDetail($where, data) {
            var ele = [];
            for (var key in data) {
                ele.push(`
                    <span><b>${key}:</b> ${data[key]}</span>
                `)
            }
            ele = `
                ${ele.join('<br />')}
            `;
            $where.html(ele);
        }
        
        var $keRow, $seRow, keId, seId;
        $keRow = $seRow = keId = seId = null;
        
        $('.ke-row').click(function() {
            if ($keRow != null) {
                $keRow.removeClass('selected');
            }
            var $_keRow = $(this);
            if ($keRow != null && $keRow.is($_keRow)) {
                $keRow = keId = null;
                appendDetail($('#detail-ke'), '');
            } else {
                $keRow = $_keRow;
                $keRow.addClass('selected');
                keId = $(this).children('td.hidden-id').eq(0).text();
                $.ajax({
                    url: `/api/kuali_entries/${keId}/`,
                    method: 'GET',
                }).done(function(data) {
                    appendDetail($('#detail-ke'), data['data']);
                }).fail(function(data) {
                    appendMsg(data['error'], false);
                });
            }
        });
        $('.se-row').click(function() {
            if ($seRow != null) {
                $seRow.removeClass('selected');
            }
            var $_seRow = $(this);
            if ($seRow != null && $seRow.is($_seRow)) {
                $seRow = seId = null;
                appendDetail($('#detail-se'), '');
            } else {
                $seRow = $_seRow;
                $seRow.addClass('selected');
                seId = $(this).children('td.hidden-id').eq(0).text();
                $.ajax({
                    url: `/api/sunapsis_entries/${seId}/`,
                    method: 'GET',
                }).done(function(data) {
                    appendDetail($('#detail-se'), data['data']);
                }).fail(function(data) {
                    appendMsg(data['error'], false);
                });
            }
        });
        $('#rm-left').click(function() {
            if (keId == null) {
                appendMsg('select an entry to delete', false)
            } else {
                $.ajax({
                    url: `/api/kuali_entries/${keId}/`,
                    method: 'DELETE',
                }).done(function() {
                    appendMsg('kuali entry deleted', true);
                    $keRow.fadeOut(500, function() {
                        $(this).remove();
                    });
                    $keRow = keId = null;
                    appendDetail($('#detail-ke'), '');
                }).fail(function(data) {
                    appendMsg(data['error'], false);
                });
            }
        });
        $('#rm-right').click(function() {
            if (seId == null) {
                appendMsg('select an entry to delete', false)
            } else {
                $.ajax({
                    url: `/api/sunapsis_entries/${seId}/`,
                    method: 'DELETE',
                }).done(function() {
                    appendMsg('sunapsis entry deleted', true);
                    $seRow.fadeOut(500, function() {
                        $(this).remove();
                    });
                    $seRow = seId = null;
                    appendDetail($('#detail-se'), '');
                }).fail(function(data) {
                    appendMsg(data['error'], false);
                });
            }
        });
        $('#link').click(function() {
            if (seId == null || keId == null) {
                appendMsg('select both entries to link', false);
            } else {
                $.ajax({
                    url: `/api/links/`,
                    data: {'ke_id': keId, 'se_id': seId},
                    method: 'POST'
                }).done(function() {
                    appendMsg('linked', true);
                    $keRow.fadeOut(500, function() {
                        $(this).remove();
                    });
                    $seRow.fadeOut(500, function() {
                        $(this).remove();
                    });
                    appendDetail($('#detail-se'), '');
                    appendDetail($('#detail-ke'), '');
                    seId = $seRow = keId = $keRow = null;
                }).fail(function(data) {
                    appendMsg(data['error'], false);
                });
            }
        });
        $('#download-sample').click(function() {
            ajaxDownload('/files/sample/', 'sample.xlsx', function() {
                appendMsg('file downloaded', true);
            }, function() {
                appendMsg('file download error', false);
            });
        });
    });
</script>
{% endblock js %}
{% block css %}
    <style>
        #sheet, #details {
            margin: 8px 10px 0px 10px;
            font-size: 12px;
        }
        #sheet {
            height: 500px;
        }
        #details {
            height: 400px;
        }
        #sheet .column {
            height: inherit;
        }
        #sheet .column.scroll {
            overflow-y: scroll;
        }
        #sheet .column.control {
            padding-top: 5px;
            overflow-y: auto;
        }
        #sheet .column.scroll table {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        #sheet .column.scroll table tr {
            height: 30px;
        }
        #sheet .column.scroll table tr:hover {
            background-color: rgba(0,0,0,0.3);
        }
        #sheet .column.scroll table tr.selected {
            background-color: rgba(0,0,0,0.3);
        }
        #sheet .column.control .ele {
            width: 100%;
        }
        #sheet .column.control .ele:not(:first-child) {
            margin-top: 5px;            
        }
        #detail-se, #detail-ke {
            max-height: 400px;
            overflow-y: auto;
        }
        
        .two-buttons button, .two-buttons button i, .two-buttons div {
            margin: 1px !important;
            padding: 1px !important;
        }
    </style>
{% endblock css %}
{% block content %}
<div id="sheet" class="ui grid">
    <div class="seven wide column shadow scroll">
        <table class="ui celled table fixed">
            <thead>
                <tr>
                    {% for title in titles_kuali %}
                    <th>{{ title }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for ke in kes %}
                <tr class="ke-row">
                    <td class="hidden-id">{{ke.id}}</td>
                    {% for title in titles_kuali %}
                    <td>{{ ke|get_attr:title }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="two wide column control">
        <div class="ui buttons two-buttons ele">
            <button id="rm-left" class="ui button">
                <i class="arrow circle left icon"></i>
                <i class="close icon"></i>
            </button>
            <div class="or"></div>
            <button id="rm-right" class="ui button">
                <i class="close icon"></i>
                <i class="arrow circle right icon"></i>
            </button>
        </div>
        <button id="link" class="ui inverted blue button ele">Link</button>
        <div id="msg" class="ele">
        </div>
    </div>
    <div class="seven wide column shadow scroll">
        <table class="ui celled table fixed">
            <thead>
                <tr>
                    {% for title in titles_sunapsis %}
                    <th>{{ title }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for se in ses %}
                <tr class="se-row">
                    <td class="hidden-id">{{se.id}}</td>
                    {% for title in titles_sunapsis %}
                    <td>{{ se|get_attr:title }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="details" class="ui grid">
    <div id="detail-ke" class="seven wide column"></div>
    <div class="two wide column"></div>
    <div id="detail-se" class="seven wide column"></div>
</div>
{% endblock content %}}