{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'utils.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="{% static 'semantic/semantic.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'utils.js' %}"></script>
    {% block css %}{% endblock css %}
    {% block js %}{% endblock js %}
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock content %}
</body>
</html>